{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
          Something
      </div>
    {{/paper-toolbar}}
    {{#paper-content}}
      {{#paper-list}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}
  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          {{#paper-sidenav-toggle as |toggle|}}
            {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon "menu"}}{{/paper-button}}
          {{/paper-sidenav-toggle}}
            <span class="md-breadcrumb-page">Title</span>
        </div>
    {{/paper-toolbar}}
    {{#paper-content class="md-padding"}}
      Something about content.
    {{/paper-content}}
  </div>
{{/paper-nav-container}}
<h2>Look, this should be something like templates\board.hbs.</h2>